# JBI100 Visualization 
### Academic year 2025-2026

## Health and Global Statistics
Data sources:

- Hospital Beds Management (https://www.kaggle.com/datasets/jaderz/hospital-beds-management/data)
- CIA Global Statistical Database (https://www.kaggle.com/datasets/kushagraarya10/cia-global-statistical-database)

Data dictionaries and additional info can be found in the respective data folders.
Note: you only need to select one dataset for your project; the dataset that you choose consists of multiple CSV files.

In [13]:
# Import libraries
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np
from PIL import Image
import os
import plotly.io as pio

# Render plotly in IFrame
pio.renderers.default = 'iframe'

# Do not truncate tables
pd.set_option('display.max_columns', None)

# If you receive a 'ModuleNotFoundError' please install the according library. 
# This can be done from within the Jupyter environment with the command 
#'!python -m pip install lib' where lib is the according library name.

In [14]:
# Load the data

# Hospital Beds Management
# df_HBM_patients        = pd.read_csv('../Hospital Beds Management/patients.csv', delimiter=',', low_memory=False)
# df_HBM_staff           = pd.read_csv('../Hospital Beds Management/staff.csv', delimiter=',', low_memory=False)
# df_HBM_staff_schedule  = pd.read_csv('../Hospital Beds Management/staff_schedule.csv', delimiter=',', low_memory=False)
# df_HBM_services_weekly = pd.read_csv('../Hospital Beds Management/services_weekly.csv', delimiter=',', low_memory=False)

# CIA Global Statistical Database
df_CIA_communications        = pd.read_csv("C:\\Users\\kwane\\PycharmProjects\\dashframework\\CIA Global Statistical Database\\communications_data.csv", delimiter=',', low_memory=False)
df_CIA_demographics          = pd.read_csv('C:\\Users\\kwane\\PycharmProjects\\dashframework\\CIA Global Statistical Database\\demographics_data.csv', delimiter=',', low_memory=False)
df_CIA_economy               = pd.read_csv('C:\\Users\\kwane\\PycharmProjects\\dashframework\\CIA Global Statistical Database\\economy_data.csv', delimiter=',', low_memory=False)
df_CIA_energy                = pd.read_csv('C:\\Users\\kwane\\PycharmProjects\\dashframework\\CIA Global Statistical Database\\energy_data.csv', delimiter=',', low_memory=False)
df_CIA_geography             = pd.read_csv('C:\\Users\\kwane\\PycharmProjects\\dashframework\\CIA Global Statistical Database\\geography_data.csv', delimiter=',', low_memory=False)
df_CIA_government_and_civics = pd.read_csv('C:\\Users\\kwane\\PycharmProjects\\dashframework\\CIA Global Statistical Database\\government_and_civics_data.csv', delimiter=',', low_memory=False)
df_CIA_transportation        = pd.read_csv('C:\\Users\\kwane\\PycharmProjects\\dashframework\\CIA Global Statistical Database\\transportation_data.csv', delimiter=',', low_memory=False)

## Explore Hospital Beds Management

In [15]:
# df_HBM_patients.sample(5)

In [16]:
# df_HBM_patients.describe()

In [17]:
# fig = px.scatter(df_HBM_patients, x="age", y="satisfaction", color="service", width=1000, height=800)
# fig.show()

## Explore CIA Global Statistical Database

In [18]:
df_CIA_demographics.sample(5)

,Country,Total_Population,Population_Growth_Rate,Birth_Rate,Death_Rate,Net_Migration_Rate,Median_Age,Sex_Ratio,Infant_Mortality_Rate,Total_Fertility_Rate,Total_Literacy_Rate,Male_Literacy_Rate,Female_Literacy_Rate,Youth_Unemployment_Rate
36,BRUNEI,484991,1.43%,15.98,3.85,2.15,31.10,0.95,10.26,1.74,97.6%,30%,2.3%,23.4%
157,MOROCCO,37067420,0.88%,17.10,6.61,1.73,29.10,1.00,18.73,2.27,75.9%,28.2%,0.8%,27.2%
136,LIBYA,7252573,1.54%,20.88,3.45,2.05,25.80,1.04,10.95,3.04,91%,96.7%,85.6%,50.5%
242,UNITED ARAB EMIRATES,9973449,0.58%,10.80,1.60,3.40,35.70,2.16,5.10,1.62,98.1%,98.8%,97.2%,10.7%
192,SAINT BARTHELEMY,7093,0.11%,9.30,9.20,1.30,47.00,1.12,6.60,1.64,NaN,NaN,NaN,NaN

In [19]:
df_CIA_demographics.describe()

,Birth_Rate,Death_Rate,Net_Migration_Rate,Median_Age,Sex_Ratio,Infant_Mortality_Rate,Total_Fertility_Rate
count,228.00,230.00,229.00,227.00,227.00,227.00,227.00
mean,26.36,25.02,3.66,31.83,1.00,19.37,11.29
std,132.91,187.37,5.57,9.24,0.19,18.43,133.98
min,5.80,1.42,-2.40,14.80,0.83,1.50,1.09
25%,10.80,5.70,0.63,24.05,0.95,5.76,1.68
50%,15.03,7.26,1.89,31.70,0.98,12.00,1.97
75%,22.23,9.10,4.40,39.50,1.01,28.52,2.80
max,2020.00,2021.00,45.80,55.40,3.34,103.06,2021.00

In [20]:
fig = px.bar(df_CIA_demographics, x="Country", y="Total_Population", color="Median_Age", color_continuous_scale='Viridis', log_y=True,width=1500, height=800).update_xaxes(categoryorder="total descending")
fig.show()

In [21]:
# df_CIA_communications, df_CIA_demographics, df_CIA_economy, df_CIA_energy, df_CIA_geography, df_CIA_government_and_civics, df_CIA_transportation
# df_CIA_communications.columns
# df_CIA_communications["Country"]

# Check if all Country columns are the same
print(df_CIA_communications["Country"].equals(df_CIA_demographics["Country"]))
print(df_CIA_communications["Country"].equals(df_CIA_economy["Country"]))
print(df_CIA_communications["Country"].equals(df_CIA_energy["Country"]))
print(df_CIA_communications["Country"].equals(df_CIA_geography["Country"]))
print(df_CIA_communications["Country"].equals(df_CIA_government_and_civics["Country"]))
print(df_CIA_communications["Country"].equals(df_CIA_transportation["Country"]))

# Check what is missing in the df_CIA_government_and_civics dataset
for i in range(len(df_CIA_communications["Country"])):
    if df_CIA_communications["Country"][i] not in df_CIA_government_and_civics["Country"].values:
        print(df_CIA_communications["Country"][i])

# Merge datasets
df_total = pd.merge(df_CIA_communications, df_CIA_demographics, on="Country")
df_total = pd.merge(df_total, df_CIA_economy, on="Country")
df_total = pd.merge(df_total, df_CIA_energy, on="Country")
df_total = pd.merge(df_total, df_CIA_geography, on="Country")
df_total = pd.merge(df_total, df_CIA_government_and_civics, on="Country")
df_total = pd.merge(df_total, df_CIA_transportation, on="Country")

True
True
True
True
False
True
BRITISH INDIAN OCEAN TERRITORY
HAITI
NAMIBIA
NEW ZEALAND
SPAIN
SPRATLY ISLANDS

In [22]:
# Check for NaNs and make a dict with number of NaNs per cat
nan_dict = {}
for i in df_total.columns:
    nan_count = df_total[i].isna().sum()
    if nan_count > 0:
        nan_dict[i] = nan_count

# Print NaNs dictionary
for key, value in sorted(nan_dict.items(), key=lambda x: x[1], reverse=True):
    print(f"{key:<50} : {value:>5} NaNs")

# Look at the cat with the most NaNs (water_pipelines_km)
# print(df_CIA_transportation.columns)
# for i in df_CIA_transportation["water_pipelines_km"]:
#     if not pd.isna(i):
#         print(i)
# print(df_CIA_transportation["water_pipelines_km"].isna().sum())
# print(len(df_CIA_transportation["water_pipelines_km"]))

water_pipelines_km                                 :   250 NaNs
refined_products_pipelines_km                      :   245 NaNs
oil_pipelines_km                                   :   170 NaNs
gas_pipelines_km                                   :   146 NaNs
heliports_count                                    :   142 NaNs
waterways_km                                       :   137 NaNs
natural_gas_cubic_meters                           :   132 NaNs
coal_metric_tons                                   :   131 NaNs
refined_petroleum_products_bbl_per_day             :   131 NaNs
railways_km                                        :   126 NaNs
refined_petroleum_exports_bbl_per_day              :   117 NaNs
Total_Literacy_Rate                                :    89 NaNs
Population_Below_Poverty_Line_percent              :    79 NaNs
GDP_Official_Exchange_Rate_billion_USD             :    64 NaNs
petroleum_bbl_per_day                              :    52 NaNs
Youth_Unemployment_Rate                            :    51 NaNs
Youth_Unemployment_Rate_percent                    :    51 NaNs
refined_petroleum_imports_bbl_per_day              :    51 NaNs
broadband_fixed_subscriptions_total                :    50 NaNs
Public_Debt_percent_of_GDP                         :    50 NaNs
electricity_generating_capacity_kW                 :    50 NaNs
airports_unpaved_runways_count                     :    50 NaNs
Male_Literacy_Rate                                 :    45 NaNs
Female_Literacy_Rate                               :    45 NaNs
Budget_Surplus_billion_USD                         :    45 NaNs
carbon_dioxide_emissions_Mt                        :    44 NaNs
Irrigated_Land                                     :    41 NaNs
roadways_km                                        :    41 NaNs
Budget_Deficit_percent_of_GDP                      :    40 NaNs
Real_GDP_Growth_Rate_percent                       :    39 NaNs
Fiscal_Year                                        :    39 NaNs
mobile_cellular_subscriptions_total                :    38 NaNs
Exports_billion_USD                                :    38 NaNs
Imports_billion_USD                                :    38 NaNs
electricity_access_percent                         :    38 NaNs
Permanent_Crops (%% of Total Agricultural Land)    :    38 NaNs
Exchange_Rate_per_USD                              :    37 NaNs
Permanent_Pasture (%% of Total Agricultural Land)  :    37 NaNs
telephone_fixed_subscriptions_total                :    35 NaNs
Unemployment_Rate_percent                          :    35 NaNs
Budget_billion_USD                                 :    35 NaNs
Forest_Land                                        :    35 NaNs
Arable_Land (%% of Total Agricultural Land)        :    35 NaNs
Real_GDP_PPP_billion_USD                           :    34 NaNs
Real_GDP_per_Capita_USD                            :    34 NaNs
Suffrage_Age                                       :    34 NaNs
Median_Age                                         :    30 NaNs
Sex_Ratio                                          :    30 NaNs
Infant_Mortality_Rate                              :    30 NaNs
Total_Fertility_Rate                               :    30 NaNs
internet_users_total                               :    29 NaNs
Birth_Rate                                         :    29 NaNs
Capital_Coordinates                                :    29 NaNs
Net_Migration_Rate                                 :    28 NaNs
Capital                                            :    28 NaNs
Death_Rate                                         :    27 NaNs
Government_Type                                    :    27 NaNs
airports_paved_runways_count                       :    27 NaNs
internet_country_code                              :    24 NaNs
Total_Population                                   :    20 NaNs
Population_Growth_Rate                             :    20 NaNs
Agricultural_Land                                  :    20 NaNs
Highest_Elevation                                  :    19 NaNs
Other_Land                                         :    19 NaNs
Water_Area                                         :    13 NaNs
Land_Area                                          :    11 NaNs
Land_Boundaries                                    :     8 NaNs
Coastline                                          :     3 NaNs
Lowest_Elevation                                   :     3 NaNs
Geographic_Coordinates                             :     2 NaNs
Area_Total                                         :     2 NaNs

In [23]:
# Make a summarize function
def summarize(df: pd.DataFrame):
    print(df_total.describe())
    if key in nan_dict.keys():
        print(nan_dict[key])

pd.set_option("display.float_format", "{:.2f}".format)
print(df_total.describe())

       telephone_fixed_subscriptions_total  \
count                               218.00
mean                            8956314.12
std                            63643773.59
min                                   0.00
25%                               26453.25
50%                              268370.50
75%                             2121875.00
max                           901317598.00

       mobile_cellular_subscriptions_total  \
count                               215.00
mean                           42479932.24
std                           155800059.92
min                                   0.00
25%                              742025.50
50%                             7000000.00
75%                            22964500.00
max                          1750460000.00

       broadband_fixed_subscriptions_total  Birth_Rate  Death_Rate  \
count                               203.00      224.00      226.00
mean                            6783948.96       26.53       25.32
std                            37048271.45      134.09      189.01
min                                   1.00        5.80        1.42
25%                               24786.00       10.80        5.69
50%                              290351.00       15.03        7.19
75%                             2542291.50       22.20        9.10
max                           483550000.00     2020.00     2021.00

       Net_Migration_Rate  Median_Age  Sex_Ratio  Infant_Mortality_Rate  \
count              225.00      223.00     223.00                 223.00
mean                 3.69       31.82       1.00                  19.38
std                  5.59        9.23       0.19                  18.47
min                 -1.88       14.80       0.83                   1.50
25%                  0.64       24.05       0.95                   5.89
50%                  1.89       31.70       0.98                  12.00
75%                  4.46       39.50       1.01                  28.00
max                 45.80       55.40       3.34                 103.06

       Total_Fertility_Rate  Real_GDP_PPP_billion_USD  \
count                223.00                    219.00
mean                  11.45                  36523.75
std                  135.18                 521095.12
min                    1.09                      1.21
25%                    1.68                     24.20
50%                    1.97                     97.27
75%                    2.79                    456.36
max                 2021.00                7711583.00

       GDP_Official_Exchange_Rate_billion_USD  Real_GDP_Growth_Rate_percent  \
count                                  189.00                        214.00
mean                           65626916201.51                          4.35
std                           318535093074.15                          6.73
min                                      0.00                        -20.74
25%                                     10.01                          1.60
50%                                     51.45                          4.24
75%                                    329.55                          6.93
max                          2002763000000.00                         41.75

       Real_GDP_per_Capita_USD  Unemployment_Rate_percent  \
count                   219.00                     218.00
mean                  22337.94                       8.92
std                   22877.78                       6.89
min                     700.00                       0.10
25%                    5300.00                       4.10
50%                   13800.00                       7.01
75%                   34250.00                      11.82
max                  115700.00                      36.00

       Youth_Unemployment_Rate_percent  Budget_billion_USD  \
count                           202.00              218.00
mean                             19.30           115328.76
std                              12.29          1647980.88
min                               1.00                1.05
25%                               9.83                5.09
50%                              16.80               41.23
75%                              26.60              257.38
max                              79.90         24324473.00

       Budget_Surplus_billion_USD  Budget_Deficit_percent_of_GDP  \
count                      208.00                         213.00
mean                         4.63                          -2.96
std                          8.06                           9.37
min                          0.00                         -75.70
25%                          1.10                          -4.80
50%                          2.90                          -2.30
75%                          5.53                          -0.30
max                         75.70                          47.00

       Public_Debt_percent_of_GDP  Exports_billion_USD  Imports_billion_USD  \
count                      203.00               215.00               215.00
mean                        58.43              1053.56      126140362040.77
std                         37.55              7949.32     1849579691904.90
min                          0.00                 1.04                 1.03
25%                         34.05                 6.51                 6.57
50%                         51.60                35.23                28.57
75%                         73.70               256.98               216.36
max                        261.30            103000.00    27120162000000.00

       Exchange_Rate_per_USD  Population_Below_Poverty_Line_percent  \
count                 216.00                                 174.00
mean                   81.92                                  26.72
std                   176.66                                  16.84
min                     0.30                                   0.20
25%                     1.00                                  14.80
50%                     4.15                                  22.85
75%                    52.58                                  37.88
max                   988.62                                  82.50

       electricity_access_percent  electricity_generating_capacity_kW  \
count                      215.00                              203.00
mean                        87.20                         38294403.94
std                         23.45                        190190230.56
min                          7.00                                0.00
25%                         87.50                           316000.00
50%                        100.00                          3065000.00
75%                        100.00                         18058000.00
max                        100.00                       2380000000.00

       coal_metric_tons  petroleum_bbl_per_day  \
count            122.00                 201.00
mean        62196081.97              436996.02
std        349892382.48             1824360.51
min                0.00                   0.00
25%                0.00                   0.00
50%           544000.00                 600.00
75%          6963500.00               70300.00
max       3693000000.00            18600000.00

       refined_petroleum_products_bbl_per_day  \
count                                  122.00
mean                                651552.84
std                                2337414.45
min                                      0.00
25%                                   7139.75
50%                                  74485.00
75%                                 319900.00
max                               20300000.00

       refined_petroleum_exports_bbl_per_day  \
count                                 136.00
mean                               194444.57
std                                611382.99
min                                     0.00
25%                                  1360.75
50%                                 16530.00
75%                                135675.00
max                               5920000.00

       refined_petroleum_imports_bbl_per_day  natural_gas_cubic_meters  \
count                                 202.00                    121.00
mean                               117051.33            32499508801.64
std                                249753.96           108743078260.87
min                                     0.00                      0.00
25%                                  6715.25                6088000.00
50%                                 23570.00             1400000000.00
75%                                 96690.00            22694584000.00
max                               2190000.00           967100000000.00

       carbon_dioxide_emissions_Mt  Suffrage_Age  gas_pipelines_km  \
count                       209.00        219.00            107.00
mean                  288723473.54         18.07          26511.66
std                  2609921147.46          0.73         192287.71
min                           0.00         16.00             20.00
25%                           7.00         18.00            479.50
50%                          39.00         18.00           2026.00
75%                         686.00         18.00           5665.50
max                 35551713000.00         21.00        1984321.00

       oil_pipelines_km  refined_products_pipelines_km  water_pipelines_km
count             83.00                           8.00                3.00
mean            6425.52                       38478.12               49.00
std            23402.24                       81859.39               49.51
min               11.00                        3000.00                8.00
25%              338.00                        5619.75               21.50
50%             1107.00                       11579.00               35.00
75%             3113.00                       14607.75               69.50
max           175000.00                      240711.00              104.00

In [24]:
df_total.sample(5)

,Country,telephone_fixed_subscriptions_total,mobile_cellular_subscriptions_total,internet_country_code,internet_users_total,broadband_fixed_subscriptions_total,Total_Population,Population_Growth_Rate,Birth_Rate,Death_Rate,Net_Migration_Rate,Median_Age,Sex_Ratio,Infant_Mortality_Rate,Total_Fertility_Rate,Total_Literacy_Rate,Male_Literacy_Rate,Female_Literacy_Rate,Youth_Unemployment_Rate,Real_GDP_PPP_billion_USD,GDP_Official_Exchange_Rate_billion_USD,Real_GDP_Growth_Rate_percent,Real_GDP_per_Capita_USD,Unemployment_Rate_percent,Youth_Unemployment_Rate_percent,Budget_billion_USD,Budget_Surplus_billion_USD,Budget_Deficit_percent_of_GDP,Public_Debt_percent_of_GDP,Fiscal_Year,Exports_billion_USD,Imports_billion_USD,Exchange_Rate_per_USD,Population_Below_Poverty_Line_percent,electricity_access_percent,electricity_generating_capacity_kW,coal_metric_tons,petroleum_bbl_per_day,refined_petroleum_products_bbl_per_day,refined_petroleum_exports_bbl_per_day,refined_petroleum_imports_bbl_per_day,natural_gas_cubic_meters,carbon_dioxide_emissions_Mt,Geographic_Coordinates,Area_Total,Land_Area,Water_Area,Land_Boundaries,Coastline,Highest_Elevation,Lowest_Elevation,Forest_Land,Other_Land,Agricultural_Land,Arable_Land (%% of Total Agricultural Land),Permanent_Crops (%% of Total Agricultural Land),Permanent_Pasture (%% of Total Agricultural Land),Irrigated_Land,Capital,Capital_Coordinates,Government_Type,Suffrage_Age,airports_paved_runways_count,airports_unpaved_runways_count,heliports_count,roadways_km,railways_km,waterways_km,gas_pipelines_km,oil_pipelines_km,refined_products_pipelines_km,water_pipelines_km
89,GERMANY,38800000.00,107200000.00,.de,79127551,37736000.00,84220184,0.12%,9.02,11.97,1.78,47.80,0.98,3.14,1.58,NaN,24.1%,19.9%,7%,4260.00,4230.00,1.80,51200.00,3.00,7.50,1797.00,12.80,NaN,63.90,calendar year,1813.00,1665.00,0.85,14.80,100.00,218000000.00,114860000.00,135000.00,2158000.00,494000.00,883800.00,5129000000.00,726881000.00,"51 00 N, 9 00 E","357,022 sq km","348,672 sq km","8,350 sq km","3,694 km","2,389 km","2,963 m",-3.5 m,31.8%,20.2%,48%,34.1%,0.6%,13.3%,"5,056 sq km",Berlin,"52 31 N, 13 24 E",Republic,18.00,318,221,23,"830,000","39,379","7,300",26985.00,2400.00,4479.00,8.00
214,SUDAN,129408.00,16688773.00,.sd,13248000,28782.00,49197555,2.55%,33.30,6.20,1.60,19.10,1.01,41.40,4.54,60.7%,65.4%,56.1%,35.6%,168.98,24.92,-1.87,3700.00,19.81,35.60,3.48,10.60,-10.60,121.60,calendar year,5.92,9.79,54.00,46.50,61.00,4354000.00,NaN,66900.00,94830.00,8541.00,24340.00,NaN,17.00,"15 00 N, 30 00 E","1,861,484 sq km","1,731,671 sq km","129,813 sq km","6,819 km",853 km,"3,042 m",0 m,0%,0%,100%,15.7%,0.2%,84.2%,"15,666 sq km",Khartoum,"15 36 N, 32 32 E",Republic,17.00,17,50,7,31000,7251,4068,156.00,4070.00,NaN,NaN
65,DHEKELIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"34 59 N, 33 45 E",131 sq km,NaN,NaN,108 km,27.5 km,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Episkopi Cantonment,"34 40 N, 32 51 E",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,SERBIA,2540276.00,8501519.00,.rs,5589000,1730496.00,6693375,0.63%,8.90,15.10,0.00,43.70,0.95,4.60,1.46,99.5%,40.5%,39.1%,30.4%,135.53,51.45,7.55,19800.00,11.81,30.40,21.86,0.20,0.20,62.50,NaN,33.73,39.04,99.40,23.20,100.00,8986000.00,39673000.00,15200.00,74350.00,15750.00,18720.00,455787000.00,47.00,"44 00 N, 21 00 E","77,474 sq km","77,474 sq km",0 sq km,"2,322 km",0 km,"2,169 m",35 m,31.6%,10.5%,57.9%,37.7%,3.4%,16.8%,520 sq km,Belgrade,"44 50 N, 20 30 E",Republic,18.00,10,16,2,44248,3333,587,1936.00,413.00,NaN,NaN
45,CENTRAL AFRICAN REPUBLIC,2000.00,1800000.00,.cf,605000,499.00,5552228,1.77%,32.37,11.51,3.16,20.00,0.99,81.74,3.99,37.4%,49.5%,25.8%,11.8%,4.48,NaN,0.90,800.00,6.57,11.80,418.00,0.90,-0.90,52.90,calendar year,113.70,393.10,554.53,62.00,15.00,38000.00,NaN,0.00,NaN,NaN,2799.00,NaN,285000.00,"7 00 N, 21 00 E","622,984 sq km","622,984 sq km",0 sq km,"5,920 km",0 km,"1,410 m",335 m,36.2%,55.7%,8.1%,2.9%,0.1%,5.1%,10 sq km,Bangui,"4 22 N, 18 35 E",NaN,18.00,1,37,NaN,24000,NaN,2800,NaN,NaN,NaN,NaN